body{
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
#title{
    background: url(/Users/gabi/Desktop/BootstrapPractice/first_page.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
    position: static;
    left: 0;
}
#secondPage{
    background: url(/Users/gabi/Desktop/BootstrapPractice/first_page.jpg) no-repeat center center fixed;
    background-size: 10%;
    min-width: 100%;
    min-height: 100%;
    position: static;
    left: 0;
}
h1{
    position: relative;
    text-align: center;
    line-height: 1.4;
    font-size: 5rem;
    font-family: 'Allura', cursive;
    margin: 15%;

}
.bottom-container{
    position: fixed;
    background-color: cadetblue;
    height: 2;
    width: 100%;
    bottom: 0px;

}
.container-fluid{
    padding: 3% 15%;
}