
body{
    background-color: #9B3675;

}
img.image-profile{
    width: 15em;
    height: 15em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

div.name-block{
    width: 20em;
    height: 20em;
    color: white;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif
}

div.description{
    color: white;
    font-size: 20px;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Lora', serif;
}